@import '../../../styles/colors.scss';
@import '../../../styles/main.scss';

.inputQuestion{
display: flex;
padding: 16px;
background-color: $color-primary-ligth;
border:$border ;
border-radius: $radius;

img{
    width: 32px;
    height: 32px;
}

input{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    outline: none;
    color: $color-primary;
    font-weight: 400;
    font-size: 1rem;
}
}