//colors page
$color-primary: #777777;
$color-primary-active: #4282AA;
$color-primary-dark: #193046;
$color-primary-ligth: #FFFFFF;
$color-routes: #727783;
$color-correct: #285F17;


//colors backgrounds
$color-background: #F6F9FB;
$color-background-light: #F5F7FA;
