@import '../../../styles/colors.scss';;

.search{
    background-color: $color-primary-ligth;
    display: flex;
    align-items: center;
    padding: 7px 13px;
    width: 100%;

    svg{
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }
    input{
        height: 100%;
        width: 100%;
        border: none;
        padding: 6px 4px;
        color: $color-primary;
        outline:none;
        
    }
}