@import '../../../styles/colors.scss';
@import '../../../styles//main.scss';
@import '../../../styles/fonts.scss';

.multipleInputAnswer{
    background-color: $color-primary-ligth;
    border:$border ;
    border-radius: $radius;
    margin-bottom: 32px;
    position: relative;
    
    &__header{
        display: flex;
        align-items: center;
        padding: 16px;
    
        &__text{
            margin-left: 10px;
            border: none;
            width: 100%;
            outline: none;
            color: $color-primary;
        }
    }

    &__correct{
        position: absolute;
        bottom: -22px;
        right: 48px;
        font-size: 0.7rem;
        font-weight: 400;
        color: $color-correct;
        font-style: $font-style;

        span{
            margin-right: 10px;
        }
    }
}

.isEmpty{
    border: 1px solid red ;
}