@import '../../../styles/colors.scss';
@import '../../../styles//main.scss';

.multipleInputAnswer{
    background-color: $color-primary-ligth;
    border:$border ;
    border-radius: $radius;
    margin: 12px 0;
    
    &__header{
        display: flex;
        display: flex;
        align-items: center;
        padding: 16px;
    
        &__text{
            margin-left: 10px;
            border: none;
            width: 100%;
            outline: none;
            color: $color-primary;
        }
    }
}