.questionsBox{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end:4 ;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__body{
        border: 1px solid black;
        height: 600px;
    }
}