@import '../../../styles/colors.scss';
@import '../../../styles/main.scss';
.editIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: $radius;
    background-color: $color-background;
    right: 0;
    top: 0;
    cursor: pointer;

    &-img{
        width: 9px;
        height: 12px;
    }
}

.editIcon:hover{
    img{
        transform: scale(1.2);
       }
}